.full-panel  {
    display: flex;
    width: 100%;
    height: 100%;
}

.full-panel .panel-tree {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px -1px var(--color-background-dark);
    min-width: 250px;
}

.full-panel .panel-tree .tree-part {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.full-panel .panel-tables-tree {
    padding: 15px;
    font-size: 90%;
}

.full-panel .panel-fill {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.panel-fill .panel-query {
    overflow-x: hidden;
}

.panel-fill .panel-query,
.panel-fill .panel-show-result {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    transition: var(--time-effect) linear;
}

.panel-fill .panel-query .text-query {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    box-shadow: 0 0 10px silver;
    border-radius: 4px;
}

.panel-fill .panel-query:hover,
.panel-fill .panel-query:focus-within {
    flex-grow: 8;
}

.panel-fill .panel-show-result:empty {
    flex-grow: 0;
    padding: 0;
}
.panel-fill .panel-show-result:not(:empty) {
    flex-grow: 4;
}

.btn-run-query {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.7);
}

.btn-change-style-query {
    position: absolute;
    right: 15px;
    top: 15px;
    color: silver;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    transition: var(--time-effect-hover-button) ease;
}
.btn-change-style-query:hover {
    color: var(--color-button-blue-dark);
}

.style-query-editor {
    position: absolute;
    width: 250px;
    right: -300px;
    top: 0;
    padding: 15px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 1px silver;
    transition: var(--time-effect-hover-button) ease;

}
.style-query-editor.show {
    right: 0;
    z-index: -1;
    transition: var(--time-effect-hover-button) ease;
}

/*     Scrollbar change    */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-button-gray);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-button-blue);
    border-radius: 10px;
    transition: var(--time-effect-scroll) ease;
}

::-webkit-scrollbar-thumb:hover {
    transition: var(--time-effect-scroll) ease;
    background: var(--color-button-blue-dark);
}
