.full-panel  {
    display: flex;
    width: 100%;
    height: 100%;
}

.full-panel .panel-tree {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px -1px var(--color-background-dark);
    min-width: 250px;
}

.full-panel .panel-tree .tree-part {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.full-panel .panel-tables-tree {
    padding: 15px;
    font-size: 90%;
}

.full-panel .panel-fill {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.full-panel .panel-fill .panel-query,
.full-panel .panel-fill .panel-show-result {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
}

.full-panel .panel-fill .panel-query .text-query {
    width: 100%;
    resize: none;
    box-sizing: border-box;
}


/*     Scrollbar change    */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-button-gray);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-button-blue);
    border-radius: 10px;
    transition: var(--time-effect-scroll) ease;
}

::-webkit-scrollbar-thumb:hover {
    transition: var(--time-effect-scroll) ease;
    background: var(--color-button-blue-dark);
}
