.header {
    display: flex;
    height: var(--size-header-height);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--color-background-dark);
    padding: 0 15px;
}

.panel-logo {
    height: 90%;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-logo > img {
    max-height: 95%;
    max-width: 95%;
}

.panel-exit a,
.panel-exit a:visited {
    text-decoration: none;
    color: var(--color-text-light);
    font-size: 20px;
    transition: var(--time-effect) ease;
}
.panel-exit a:hover {
    text-shadow: 0px 0px 2px var(--color-text-light);
}
